[tool.poetry]
name = "stimela"
version = "2.1.2.1"
description = "Framework for system agnostic pipelines for (not just) radio interferometry"
authors = ["Oleg Smirnov and RATT <osmirnov@gmail.com>", "Sphesihle Makhathini <sphemakh@gmail.com>"]
readme = "README.rst"
license = "GNU GPL v2"
include = [{ path = "tests" }]
packages = [
    {include = "stimela"},
    {include = "scabha"},
    {include = "stimela_tests", from = "tests" },
    {include= "scabha_tests", from = "tests" },
]

[tool.poetry.dependencies]
python = ">=3.9 <3.14"
munch = "^2.5.0"
omegaconf = "^2.1"
importlib_metadata = { version = "4.13.0", python = "3.7" }
click = "^8.1.3"
pyparsing = "^3.0.9"
pydantic = "^1.10.2"
psutil = "^5.9.3"
rich = "^13.7.0"
dill = "^0.3.6"
typeguard = "^4.2.1"
uritools = "^5.0.0"

[tool.poetry.scripts]
stimela = "stimela.main:cli"

[build-system]
requires = ["setuptools", "poetry-core"]
build-backend = "poetry.core.masonry.api"



[tool.poetry.group.tests]
optional = true
[tool.poetry.group.tests.dependencies]
pytest = "^7.1.3"
flake8 = "*"

[tool.poetry.group.docs]
optional = true
[tool.poetry.group.docs.dependencies]
Sphinx = "^5.3.0"
sphinx-copybutton = "^0.5.0"
furo = "^2022.9.15"

